
/* CONTACT */
input {
  width: 915px;
  padding: 20px;
}

#txt-area {
  width: 950px;
}

.button {
  display: inline-block;
  background-color:  #4aaaa5;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: 10px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;

}

.button:hover span:after {
  opacity: 1;
  right: 0;
  background-color: #007F79;
}


.button:hover {
  background-color: #007F79;
}


/* MEDIA QUERIES */
@media only screen and (max-width: 640px) {
  .header {
    margin: 0 auto;
    width: auto;
  }

  .container {
      width:auto;
  }

  input {
    width: auto;
  }

}

@media only screen and (max-width: 768px) {

  .header {
      margin: 0 auto;
      width: auto;
  }

  .container {
      width: auto;
  }

  input {
    width: auto;
  }

}


@media only screen and (max-width: 980px) {

  .header {
      margin: 0 auto;
      width: auto;
  }

  .container {
      width: auto;
  }

  input {
    width: auto;
  }
}
